main {
  margin: auto;
  width: 80%;
  height: auto;
  min-height: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1100px;
}
@media (max-width: 1270px) {
  main .container {
    min-width: 1000px;
  }
}
@media (max-width: 1150px) {
  main .container .photo {
    margin: -20px 0;
  }
}
@media (max-width: 900px) {
  main .container {
    min-width: 500px;
    width: 80%;
  }
}
@media (max-width: 500px) {
  main .container {
    max-width: 250px;
  }
}
main .container :nth-child(4n-3).photo img {
  border: 5px solid red;
}
main .container .photo {
  margin: 20px 0;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  transition: 0.5s;
}
main .container .photo .delList {
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  bottom: -215px;
  left: 105px;
  opacity: 0.8;
}
main .container .photo .delList:hover {
  opacity: 1;
}
main .container .photo .delList::before,
main .container .photo .delList::after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 4px;
  background-color: red;
}
main .container .photo .delList:before {
  transform: rotate(45deg);
}
main .container .photo .delList:after {
  transform: rotate(-45deg);
}
@media (max-width: 500px) {
  main .container .photo {
    margin: 20px 20px;
  }
}
main .container .photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
  margin-top: -25px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  border: 5px solid #747474;
}
main .container .photo img:hover {
  transform: rotate(45deg);
  transition: 0.5s;
  border: 5px solid yellow;
}
main .container .photo img:hover .photo {
  transition: 0.5s;
}
main .bigPhoto {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background-color: rgba(159, 178, 192, 0.9);
}
main .bigPhoto > div {
  position: fixed;
}
main .bigPhoto > div img {
  width: 100%;
  height: auto;
}
.refresher {
  display: flex;
  justify-content: center;
}
